* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Mencegah scroll ke samping */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  line-height: 1.6;
  margin-top: 15px;
  padding-top: 15px;
}

/* HERO CONTAINER */
.hero-container {
  text-align: center;
  padding: 60px 35px;
  padding-top: 10px;
  border-radius: 10px;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, #02b7ff 1px, transparent 1px);
  background-size: 50px 50px;
  opacity: 0.2;
  animation: dotsMove 10s linear infinite;
  z-index: -1;
}

.logo {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
}

.logo-items {
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #02b7ff;
}
.logo-items:nth-child(1) {
  animation: logoMove 3s ease-in-out infinite;
  animation-delay: 0.5s;
}
.logo-items:nth-child(2) {
  animation: logoMove 3s ease-in-out infinite;
  animation-delay: 0s;
}
.logo-items:nth-child(3) {
  animation: logoMove 3s ease-in-out infinite;
  animation-delay: 0.5s;
}

.hero-container h2 {
  color: #02b7ff;
  font-size: 25px;
  margin-bottom: 5px;
}

.hero-container p {
  font-size: 16px;
}

.hero-container button {
  background-color: #02b7ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 60px;
  border: #02b7ff solid 1px;
  transition: 0.4s;
}

.hero-container button:hover {
  background-color: white;
  color: #02b7ff;
}

@keyframes dotsMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@keyframes logoMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ABOUT CONTAINER */
.about-container {
  background-color: #f4f4f4;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.about-container h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

.about-container p {
  font-size: 16px;
  text-align: justify;
}

/* ANIMATION CONTAINER */
/* .animation-container {
  position: absolute;
  width: 100%;
  height: 120%;
  overflow: hidden;
  display: none;
  top: 0;
  background-color: #02b7ff;
  transition: 0.6s;
  pointer-events: none;
} */

.animation-container {
  position: fixed; /* Selalu mengikuti layar saat scroll */
  top: 0;
  left: -31%;
  width: 100%;
  height: 100vh; /* Tinggi 100% layar HP */
  z-index: 999;
  display: none;
  pointer-events: none;
  background-color: #02b7ff;
  overflow: hidden;
}

.animation {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #02b7ff;
  top: 40%;
  left: 40%;
  z-index: 10;
  display: none;
  pointer-events: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both; */
}

.content {
  position: relative;
  z-index: 20;
  color: white;
  text-align: center;
  margin-top: 200px;
  top: 10%;
}

.foot {
  position: relative;
  z-index: 20;
  color: white;
  text-align: center;
  margin-top: 200px;
  top: 20%;
}

.content h2 {
  font-size: 30px;
}

.line {
  width: 85%;
  height: 4px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
  border-radius: 2px;
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  100% {
    -webkit-transform: scale(20) rotateZ(270deg);
    transform: scale(20) rotateZ(270deg);
  }
  /* 100% {
    -webkit-transform: scale(0) rotateZ(360deg);
    transform: scale(0) rotateZ(360deg);
  } */
}

@keyframes contentIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* PROGRAM */
.program-container {
  background-color: #f4f4f4;
  width: 100%;
  height: 1200px;
  text-align: center;
  padding: 10px 40px;
  padding-bottom: 5px;
}

.program-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.program-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.program-card i {
  font-size: 50px;
  color: #02b7ff;
  margin-bottom: 15px;
}
.program-card h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}
.program-card p {
  font-size: 16px;
  color: #666;
}
